<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather-now</title>
</head>
<body>
    <div>
        <form action="new york city"></form>
        <input type="text" placeholder="Enter city">
        <input type="submit" value="weather now">
        <form>
            <p> The weather in new york is 70 C</p>
    </div>
    
</body>
</html>